{% extends "base.html" %}
{% load static %}
{% load lesson_tags %}

{% block title %}Урок{% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="card my-3 w-75">

<!-- reverse flag to chose  translation (direct: russian to english, reverse: english to russian) -->
        <div class="card-header py-3">
            <h4>
                {% if reverse != 'reverse' %}
                    {{ card.word.translations }}{% if form.is_bound %} - {{ card.word.body }}{% endif %}
                {% else %}
                    {{ card.word.body }}{% if form.is_bound %} - {{ card.word.translations }}{% endif %}
                {% endif %}
            </h4>
        </div>
<!--end of block -->
        <div class="card-body pb-1">
<!--Next-card appears when answer send, therefore button bellow after sending answer-->
            {% if not form.is_bound %}
                <form id="check_card" action="{% url 'lesson:learn' reverse=reverse lesson_pk=lesson.pk %}"
                      method="post">
                    {{ form }}
                    {% csrf_token %}
                    <h6 class="py-2">
                        {% if reverse != 'reverse' %}
                            Пример: {{ card.word.example|cut_example:'1' }}
                        {% else %}
                            Пример: {{ card.word.example|cut_example:'0' }}
                        {% endif %}
                    </h6>
                    <button class="py-1 my-1 me-3 btn btn-outline-dark rounded-0 text-muted" type="submit">
                        Проверить
                    </button>
                    <button type="button"  class="py-1 btn btn-outline-dark rounded-0">
                        <a href="{% url 'lesson:lesson'  user_pk=user.pk dictionary_pk=lesson.dictionary.pk %}" class="text-decoration-none text-muted">
                            Завершить
                        </a>
                    </button>
                </form>
            {% else %}
                <h6 class="py-2">Пример: {{ card.word.example }}</h6>

            {% if next_card == True %}
                <button class="py-1 my-1 me-3 btn btn-outline-dark rounded-0" type="submit">
                    <a href="{% url 'lesson:learn' reverse=reverse lesson_pk=lesson.pk %}"
                       class="text-muted text-decoration-none ">
                        Следующая карточка
                    </a>
                </button>
            {% endif %}
<!--end block-->
            <button type="button"  class="py-1 btn btn-outline-dark rounded-0">
                <a href="{% url 'lesson:lesson'  user_pk=user.pk dictionary_pk=lesson.dictionary.pk %}"
                   class="text-decoration-none text-muted">
                    Завершить
                </a>
            </button>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src='{% static "lesson/js/learn-1.js" %}'></script>
{% endblock %}