{% extends "base.html" %}
{% load static %}
{% block title %}Урок {{ dictionary.title }}{% endblock %}

{% block content %}
<div class="d-flex align-items-center mb-2">
    <div class="w-75">
        <h5 class="text mt-3 mb-2">{{ dictionary.title }}</h5>
        <p class="mb-1">Создан {{ dictionary.created }}</p>
        <span class="change_status_bg badge bg-secondary mt-1">
            {% if dictionary.status == "private" %}
            Private
            {% else %}
            Public
            {% endif %}
        </span>
        <span class="badge bg-secondary">Создан {{ dictionary.author }}</span>
        <span class="badge bg-secondary"> {{ dictionary.word.count }} слов</span>
        <span class="badge bg-secondary"> {{ dictionary.note|truncatewords:5 }}</span>
    </div>

    <div class="w-25 justify-content-end">
        {% if request.user != dictionary.author %}
        <div>
            {% if request.user in dictionary.student.all %}
            <form action="{% url 'dictionary:remove_dictionary' %}" method="post">
                {{ dictionary_form }}
                {% csrf_token %}
            <button class="py-1 my-1 btn btn-outline-dark rounded-0 text-muted w-100" type="submit">Убрать из моих словарей</button>
            </form>
            {% else %}
            <form action="{% url 'dictionary:add_dictionary'%}" method="post">
                {{ dictionary_form }}
                {% csrf_token %}
            <button class="py-1 my-1 btn btn-outline-dark rounded-0 text-muted w-100" type="submit">Добавить в мои словари</button>
            </form>
            {% endif %}
        </div>
        {% else %}
        <div>
            <form id="change_status" action="{% url 'dictionary:change_status' %}" method="post">
                {{ dictionary_form }}
                {% csrf_token %}
                <button class="change_status_btn py-1 my-1 btn btn-outline-dark rounded-0 text-muted w-100" type="submit">
                    {% if dictionary.status == "private" %}
                    Сделать публичным
                    {% else %}
                    Сделать приватным
                    {% endif %}
                </button>
            </form>
        </div>

        <div>
            <form action="{% url 'dictionary:delete_dictionary' %}" method="post">
                {{ dictionary_form }}
                {% csrf_token %}
                <button class="change_status_btn py-1 my-1 btn btn-outline-dark rounded-0 text-muted w-100" type="submit">
                    Удалить словарь
                </button>
            </form>
        </div>
        {% endif %}
    </div>
</div>

<div class="d-flex mb-2">
    <div class="">
        <p class="mb-2">Необходимое количество верных ответов:</p>
    </div>
    <div class="ms-2">
        <form class="d-flex" action="{% url 'lesson:change_number_answers' %}" method="post">
            {{ form_answers }}
            {% csrf_token %}
        </form>
    </div>
</div>
<div class="my-2">
    <!--first card of lesson  retrive from instance by class property  get_random -->
    {% with card=lesson.get_random %}
    {% if card %}
    <div class="d-flex">
        <div>
            <button type="button" class="btn btn-outline-dark me-2 rounded-0"><a
            href="{% url 'lesson:learn' card_pk=card.pk user_pk=user.pk dictionary_pk=dictionary.pk translation_reverse=0%}" class="text-decoration-none text-muted">Начать урок: прямой перевод</a></button>
        </div>
        <div>
            <button type="button" class="btn btn-outline-dark ms-2 rounded-0"><a
            href="{% url 'lesson:learn' card_pk=card.pk user_pk=user.pk dictionary_pk=dictionary.pk translation_reverse=1 %}" class="text-decoration-none text-muted">Начать урок: обратный перевод</a></button>
        </div>
    </div>
    {% else %}
    <h6>Все карточки выучены, измените статус карточек чтобы изучать повторно</h6>
    {% endif %}
    {% endwith %}
    <!--end first card of lesson  retrive from instance by class property  get_random_first -->
</div>


<div class="mt-3 mb-2 table-responsive">
    <table class="table mb-0 table-bordered">
        <thead>
        <tr class="table-light">
            <th scope="col">#</th>
            <th style="width: 15%" class="align-middle">Слово</th>
            <th style="width: 15%" class="align-middle">Перевод</th>
            <th style="width: 50%" class="align-middle">Пример</th>
            <th style="width: 10%" class="align-middle">Прогресс</th>
            <th style="width: 10%" class="align-middle">Статус</th>
        </tr>
        </thead>
        {% for card in lesson.cards %}
        <thead>
        <tr>
            <th class="align-middle">{{ forloop.counter }}</th>
            <td class="align-middle">{{ card.word.body }}</td>
            <td class="align-middle">{{ card.word.translations }}</td>
            <td class="align-middle">{{ card.word.example }}</td>
            <td class="align-middle">{{ card.correct_answers }}/{{ card.lesson.required_answers }}</td>
            <td class="align-middle fw-bold">
                <form action="{% url 'lesson:change_card_status' %}" method="post">
                    {% csrf_token %}
                    {{ card.form_card.as_p }}
                </form>
            </td>
        </tr>
        </thead>
        {% endfor %}
    </table>
</div>

<div>
    {% if dictionary.file %}
    <button class="py-1 mt-1 mb-2 btn btn-outline-dark rounded-0" type="submit"><a href="{{ dictionary.file.url }}" class="text-decoration-none text-muted" download>Скачать фаил</a></button>
    {% endif %}
</div>
{% endblock %}


{% block script %}
    <script src='{% static "lesson/js/change_status.js" %}'></script>
{% endblock %}
