<!-- detail of dictionary which you do not follow -->
{% extends "base.html" %}

{% block title %}Словарь {{ dictionary.title }}{% endblock %}

{% block content %}
<!-- name and bages of dictionary  -->
<div class="d-flex align-items-center mb-2">
    <div class="w-75">
        <h5 class="text mt-3 mb-2">{{ dictionary.title }}</h5>
        <p class="mb-1">Создан {{ dictionary.created }}</p>
        <span class="badge bg-secondary mt-1">{% if dictionary.status == "private" %}Private{% else %}Public{% endif %}</span>
        <span class="badge bg-secondary">Создан {{ dictionary.author }}</span>
        <span class="badge bg-secondary"> {{ dictionary.word.count }} слов</span>
        <span class="badge bg-secondary"> {{ dictionary.note|truncatewords:5 }}</span>
    </div>
<!-- end name and bages of dictionary  -->

<!-- button "add my dictionaries (follow)" -->
    <div class="w-25 justify-content-end">
        {% if request.user not in dictionary.student.all and dictionary.author %}
            <form action="{% url 'dictionary:student_add' %}" method="post">
                {{ student_add_form }}
                {% csrf_token %}
            <button class="py-1 my-1 btn btn-outline-dark rounded-0 text-muted w-100" type="submit">Добавить в мои словари</button>
            </form>
        {% else %}
            <button class="py-1 my-1 btn btn-outline-dark rounded-0 w-100" type="submit"><a
                        href="{% url 'dictionary:student_remove' dictionary.slug dictionary.pk %}"
                        class="text-decoration-none text-muted">Убрать из моих словарей</a></button>
            <button class="py-1 my-1 btn btn-outline-dark rounded-0 w-100" type="submit"><a
                    href="{% url 'lesson:lesson' user.pk dictionary.pk %}"
                    class="text-decoration-none text-muted">Изучать</a></button>
        {% endif %}
    </div>
</div>
<!-- end button  "add my dictionaries (follow)" -->


<!-- rendering words in the dictionary -->
<div class="mt-3 mb-2 table-responsive">
    <table class="table mb-0 table-bordered">
        <thead>
        <tr class="table-light">
            <th scope="col">#</th>
            <th style="width: 20%" class="align-middle">Слово</th>
            <th style="width: 20%" class="align-middle">Перевод</th>
            <th style="width: 60%" class="align-middle">Пример</th>
        </tr>
        </thead>
        {% for word in dictionary.word.all %}
        <thead>
        <tr>
            <th class="align-middle">{{ forloop.counter }}</th>
            <td class="align-middle">{{ word.body }}</td>
            <td class="align-middle">{{ word.translations }}</td>
            <td class="align-middle">{{ word.example }}</td>
        </tr>
        </thead>
        {% endfor %}
    </table>
</div>
<!-- rendering words in the dictionary -->

<div>
    {% if dictionary.file %}
    <button class="py-1 mt-1 mb-2 btn btn-outline-dark rounded-0" type="submit"><a href="{{ dictionary.file.url }}" class="text-decoration-none text-muted" download>Скачать фаил</a></button>
    {% endif %}
</div>

{% endblock %}